@model AgentieTurism.Data.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumarCI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumarCI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerieCI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerieCI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerioadaSejurDoritaStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerioadaSejurDoritaStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerioadaSejurDoritaSfarsit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerioadaSejurDoritaSfarsit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatiuneDorita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatiuneDorita.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
